.progress-bar-container {
  width: 100%;
  position: relative;
  cursor: pointer;

  .progress-bar-base {
    height: 4px;
    position: absolute;
  }
    
  .progress-bar-invisible {
    @extend .progress-bar-base;
    z-index: 3;
    width: 100%;
  }

  .progress-bar-white {
    @extend .progress-bar-base;
    z-index: 2;
    background-color: #FFF;
  }

  .progress-bar-buffer {
    @extend .progress-bar-base;
    z-index: 1;
    background-color: #C1C1C1;
  }

  .progress-bar-default {
    height: 4px;
    background-color: #8f8f8f;
  }
}